@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* ===== THEME VARIABLES ===== */
:root {
  --bg-color: #f4f6f8;
  --card-color: #ffffff;
  --text-color: #111;
  --input-bg: #eaeaea;
  --btn-bg: #111;
  --btn-text: #fff;
}

body.dark {
  --bg-color: #0f172a;
  --card-color: #1e293b;
  --text-color: #f8fafc;
  --input-bg: #334155;
  --btn-bg: #38bdf8;
  --btn-text: #000;
}

/* ===== BASE ===== */
body {
  background:
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url("./bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  position: relative;
  z-index: 1;
}

/* ===== THEME BUTTON ===== */
.theme-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
}

.theme-toggle button {
  border: none;
  background: var(--card-color);
  color: var(--text-color);
  padding: 8px 12px;
  border-radius: 50%;
  cursor: pointer;
}

/* ===== CONTAINER ===== */
.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* ===== CARD ===== */
.card {
  background: var(--card-color);
  padding: 30px;
  width: 340px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  text-align: center;
  transition: 0.3s;
}

.card h2 {
  margin-bottom: 20px;
  color: var(--text-color);
}

/* ===== INPUTS ===== */
.card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: var(--input-bg);
  color: var(--text-color);
}

/* ===== BUTTON ===== */
.card button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: var(--btn-bg);
  color: var(--btn-text);
  font-size: 1em;
  cursor: pointer;
}

.card button:hover {
  opacity: 0.9;
}

/* ===== SWITCH TEXT ===== */
.switch {
  margin-top: 15px;
  font-size: 0.9em;
  color: var(--text-color);
}

.switch a {
  text-decoration: none;
  font-weight: 600;
  color: #38bdf8;
}
